@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@0,300;1,600&display=swap');

:root {
    --Background-Color: #155db1;
    --Background-Color-Light: #2196f3;
    --Background-Color-Dark: #002973;
    --Font-Color: #97f425;
    --Font-Color-2: #ff9a3e;
    --Font-Color-3: #e9791a;
    --Font-Color-4: #e90c8e;
    --Font-Color-5: #ff3ca5;
}
html {
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background: var(--Background-Color);
  font-family: 'Roboto Slab', serif;
}

#particles-js
{
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}
.supreme-header {
    background-color: var(--Background-Color);
    
}
.header
{
  position: relative;
  padding: 5em;
}

.header:before{
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  opacity: 0.4;
  background-image: url("https://imgur.com/OpG6ImW.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

.header-content 
{
  position: relative;
  opacity: 2;
}

main {
  padding: 0px 0px;
  text-align: center;
  max-width: 100%;
}

h1 {
  font-size: 2.5em;
  font-weight: 300;
  color: var(--Font-Color);
  margin: 0 0 10px;
  font-family: "Abril Fatface", cursive;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 3em;
  }
}
h2 {
  margin: 0 0 50px;
  font-size: 1.5em;
  font-weight: 200;
  color: var(--Font-Color);
}

aside {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(200deg, #2196f3, #155db1, #002973);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  z-index: 2;
  font-family: "museoModerno", sans-serif;
}

.open {
  opacity: 1;
  visibility: visible;
}

nav {
  text-align: center;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul li {
  align-items: center;
  flex: 1;
  line-height: 20vh;
}
nav ul li a {
  font-size: 1.5em;
  transition: all 0.5s ease;
  display: block;
  text-decoration: none;
  color: var(--Font-Color-2);
}
nav ul li a:hover {
  color: var(--Font-Color);
  transform: scale(1.1);
}
nav ul li a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
nav ul li a:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 0.125em;
  bottom: 0;
  left: 25%;
  background: white;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

@media screen and (min-width: 600px) {
  nav ul li a {
    font-size: 3em;
  }
}
button {
  padding: 0.9375em 2.5em;
  background: transparent;
  border: 0.0625em solid var(--Font-Color-3);
  color: var(--Font-Color-2);
  border-radius: 0.5em;
  transition: all 0.5s ease;
}
button:hover {
  border: 0.0625em solid var(--Font-Color);
  color: var(--Font-Color);
}

.close {
  position: fixed;
  top: 2.5em;
  right: 3.75em;
  color: white;
  z-index: 3;
  cursor: pointer;
  font-family: sans-serif;
}
.close span,
.close span:before,
.close span:after {
  border-radius: 0.25em;
  height: 0.3125em;
  width: 2.1875em;
  background: white;
  position: absolute;
  display: block;
  content: "";
}
.close span {
  background: transparent;
}
.close span:before {
  transform: rotate(45deg);
}
.close span:after {
  transform: rotate(-45deg);
}

.outer-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 5.3125em;
  height: 5.3125em;
  cursor: pointer;
}

#container {
    background-color: var(--Background-Color-Light);
    padding: 2em;
    margin: 5em;
    text-align: left;
    position: relative;
    z-index: 1;
    color: var(--Font-Color)
}
#container li
{
    list-style-image: url("../Assets/images/list.png");
    font-size: 1rem;
}

.boton a{
    font-style: normal;
    text-decoration: none;
    background-color: var(--Background-Color);
    color: var(--Font-Color-2);
    font-weight: bold;
    padding: 0.625em 0.9375em;
    margin: 0.625em;
    border-radius: 0.625em 0.625em;
    transition: .3s;
    font-family: "piazzolla", sans-serif;
    display: inline-block;
    font-size: 1.0625em;
    box-shadow: 0.3125em 0.3125em 0.3125em black;
}

.boton a:hover{
  color: var(--Font-Color);
  background-color: var(--Background-Color-Dark);
  box-shadow: 0.9375em 0.9375em 0.9375em black;
}
.images-content
{
  border-radius: 2em;
  width: 100%;
  height: auto;
   
}

.images-content1
{
  text-align: center;
  width: 100%;
  max-width: 37.5em;
  margin: 0 auto;
}

thead th
{
  font-size: 1,0625em;
  font-weight: 600;
  font-family: "piazzolla", sans-serif;
  color: var(--Font-Color);
  border: #002973 solid 0.0625em;
  margin: 0;
  padding: 0.625em;
}
tbody td
{
  font-size: 1em;
  font-weight: 300;
  font-family: "piazzolla", sans-serif;
  color: var(--Font-Color);
  border: #002973 solid 0.0625em;
  margin: 0;
  padding: 0.625em;
}

